<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard | Amalthea 2020</title>
  <meta name="author" content="Reuben Devanesan, B.Tech Chemical Engineering | Gaurav Viramgami, B.Tech Computer Science | Harshit Ramolia, B.Tech Chemical Engineering">
  <meta name="description" value="Amalthea is the Annual Tech Summit of IIT Gandhinagar.">
  <link rel="icon" href="\images\Amalthea_title_logo.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="\css\dashboard.css">
  <link rel="stylesheet" href="\css\common.css">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <!--Inter-->
  <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<%- include('partials/header') %>

  <br><br><br>
  <!--Temporary Content-->
  <br>
  <h1 class = "box-heading">Account</h1>
  <div class = "box1">
      <div class = "container-fluid">
        <div class = "row">
          <div class="col-md-5 col-sm-12">
            <img class = "rounded-circle account-photo" src = "<%= currentUser.google.picture %>" alt = "">
          </div>
          <div class="col-md-6 col-sm-12 account-info">
            Name : <%=currentUser.name %><br>
            Email : <%=currentUser.email %>
          </div>
        </div>
    </div>

  </div>
    <!--Registered Events-->
    <br>
    <h1 class = "box-heading">Registered Events</h1>
    <div class = "box1">
      <div class = "container-fluid">
        <% for(var i = 0; i<data.length; i++){ %>

            <div class = "row">
                <div class = "col-sm-9 col-md-10 event-name-time">
                    <div class = "row event-row">
                        <div class = "event-name"><%= data[i][0] %></div>
                        <div class = "event-time">21:00 November 3</div>
                    </div>
                </div>
                <div class = "col-sm-3 col-md-2 rulebook"> <a href="<%= data[i][4] %>">Rulebook</a>   </div>
            </div>
        <% } %>
    </div>
  </div>
  <%- include('partials/footer') %>


  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/subscribe.js"></script>
</body>
</html>
